* { box-sizing: border-box; }

body {
  font-family: "sans-serif";
  padding: 10px;
  background: #1600ba;
  font-size: 18px;
}

/* HEADER */
.header {
  position: relative;
  padding: 30px;
  text-align: center;
  background-image: url("images (2).jpg");
  background-size: cover;
  background-position: center;
  height: 270px;
  transition: all 0.8s ease;
}

.header:hover {
  background-image: url("logo.png");
  background-color: white;
  height: 400px;
}

.header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  margin-top: 20px;
  transition: opacity 0.5s ease;
}

.header:hover img { 
  opacity: 0; 
}

/* NAVIGATION */
.topnav {
  overflow: hidden;
  background-color: #002183;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #fdfd83;
  color: navy;
}

/* GAME BOX */
.game-box {
  background: white;
  border-radius: 15px;
  padding: 30px;
  margin: 30px auto;
  width: 95%;
  max-width: 1100px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.game-box h2,
.game-box p {
  color: #002183;
  text-align: center;
}

.game-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(15, 35px);
  gap: 3px;
}

.cell {
  width: 35px;
  height: 35px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.cell.selected { 
  background: orange; 
}

.cell.found { 
  background: #fdfd83; 
  color: #002183; 
}

/* SIDE PANEL */
.side-panel { 
  max-width: 300px; 
}

.word-list span {
  display: inline-block;
  margin: 5px 8px 5px 0;
}

.found-word {
  text-decoration: line-through;
  color: #002183;
}

/* BUTTONS */
button {
  padding: 8px 15px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.level-btn { 
  background: #002183; 
  color: white; 
}

.start-btn { 
  background: green; 
  color: white; 
}

.restart-btn { 
  background: red; 
  color: white; 
}

.play-btn { 
  background: orange; 
  color: white; 
  display:none; 
}

/* FOOTER */
footer {
  background-color: #f9f7f7;
  text-align: center;
  padding: 15px;
  height: 70px;
  border-radius:10px;
  margin-top: 30px;
}

.footer-logo {
  width: 200px;
  height: 40px;
}